@import 'grid';
@import 'fontAwesome/scss/font-awesome';
@import 'scroll';

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600');


@font-face {
    font-family: bushcraft;
    // src: url(../fonts/adampro.otf);
    src: url(../fonts/Mohave-Bold.otf);
}

// $blue: #347bad;
$blue: #f49847; // but it's really red lol right?????
$black: #454545;
$green: #399b1b;

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff;
background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.greenText{
    color: $green;
    border-bottom: 1px solid white;
    font-weight: 400;
}


@media(min-width: 767px){
    body{
        font-size: 16px;
    }
}

h1,h2,h3,h4{
    margin: 0;
    // font-family: 'Dosis', sans-serif;
     font-family: bushcraft;
}
h1{
    font-weight: 600;
}
h2,h3,h4{
    font-weight: 300;
}
h1{font-size: 3.75em;}
h2{font-size: 3em;}
h3{font-size: 2.25em;}
h4{font-size: 1.5em;}

.button{
    padding: 10px 20px;
    color:white;
    text-decoration: none;
    transition: all .5s;
    background: linear-gradient(to left, transparent 50%, $blue 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    &:hover{
        background-position:left bottom;
    }
}

.overlay{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0;
    background-color: rgba(0,0,0,.65);
    transition: opacity .5s;
    .overlayInner{
        width: 360px;
        height: 220px;
        padding: 10px;
        border: 1px solid white;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-color: #707070;
        h3,p{color:white; text-align: center;}
        h3{font-size: 1.8em;}
        input{
            width: 280px;
            margin: 10px auto;
            display:block;
        }
        .email{
            height: 25px;
        }
        .submit{
            background-color: #69c24e;
            border: 1px solid white;
            color:white;
            transition: all .5s;
            cursor:pointer;
            height: 30px;
            &:hover{
                background-color: #2d9a0c;
            }
        }
        i{
            position: absolute;
            top: 0px;
            right: 0px;
            color:white;
            font-size: 1.25rem;
            transition: color .5s;
            cursor:pointer;
            &:hover{
                color:#d21212;
            }
        }
    }
}

.overlay.active{
    z-index: 50;
    opacity: 1;
}

#header{
    height: 100vh;
    width: 100%;
    background-image: url('../images/mainBg.jpg');
    background-size: cover;
    color:white;
    display:table;
    position:relative;
    .headerContent{
        display:table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .button{
        border: 1px solid white;
        font-size: 1.25em;
        position:relative;
        top: 25px;
        margin: 0 10px;
    }
    .downWard{
        position: absolute;
        bottom: 15px;
        left: 0px;
        text-align: center;
        font-size: 36px;
        width: 100%;
        animation: blink 3s infinite;
        h4{
            font-size: 16px;
        }
    }
}

#itemWrapper{
    height: 100vh;

    .slider{
        // margin: auto;
        // position: absolute;
        // top: 0; left: 0; bottom: 0; right: 0;
    }

    .item{
        margin: 0 auto;
        position:relative;
        top: 12.5%;
        width: 75%;
        max-width: 920px;
        background-color: #454545;
        background-image: url(../images/SpoonGraphics-Topographic-Map-4.png);
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        height: 75%;

        .productImage{
            // display:table;
            height: 100%;
            position:relative;

            .imagesWrapper{
                // display:table-cell;
                margin-top: 25%;
            }
        }


        .productContent{
            .divider{
                    height: 3px;
                    width: 100px;
                    background-color: white;
                    margin-bottom: 10px;
            }
            height: 100%;
            display:table;
            color:white;
            padding-left: 15px;
            padding-right: 15px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fabd86+1,f49847+100 */
            background: #fabd86; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover, #fabd86 1%, #f49847 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, #fabd86 1%,#f49847 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, #fabd86 1%,#f49847 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fabd86', endColorstr='#f49847',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            .scrollerShadow{
                // box-shadow:        inset  0  8px 8px -8px $black,
                //                    inset  0 -8px 8px -8px $black;
                outline: 1px solid #fabd86;
                border: 1px solid $blue;
            }
            .textWrapper{
                color:white;
                max-height: 150px;
                overflow: scroll;
                padding: 5px;
                p{
                    margin-top: 0px;
                }
            }
            .button{
                border: 1px solid white;
                font-size: 1em;
                position:relative;
                top: 25px;
            }
            .productContentInner{
                display: table-cell;
                vertical-align: middle;
                position:relative;
                bottom: 25px;
                .pricing{
                    margin-top: 10px;
                }
            }
        }
    }

}

@import 'login';

//slick overriders
.slick-prev, .slick-next{
    display:none !important;
}

.slick-dots li button:before{
    font-size: 36px;
    color:white !important;
}
@keyframes blink {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}



//mobile styles cause Im too lazy to do it right

@media(max-width: 767px){
    #itemWrapper{
        .item{
            top: 35px;
            .productImage{
                height: 50%;
                .imagesWrapper{
                    margin-top: 10px;
                }
            }
            .productContent{
                height: 70%;
            }
        }
    }
}
