//setup global page styles here
//Also a good place to define additional global
//styles like fonts or colors ;)

//max width use for non-fluid rows
$maxWidth: 1280px;

//top and bottom margin for the row itself
$rowMargin: 20px;


//Values used to define breakpoints. These are the max for a particular layout
//Change these to change the point the grid changes layout.
$small: 768px;
$medium: 992px;
$large: 1200px;



//Padding Values for the columns at various breakpoints
//These are by defaul the same but are changeable
// on an individual breakpoint basis
// top right bottom left
$xsmallColumnPadding: 0px 10px 0 10px;
$smallColumnPadding: 0px 10px 0 10px;
$mediumColumnPadding: 0px 10px 0 10px;
$largeColumnPadding: 0px 10px 0 10px;
